In [41]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# load the data
df = pd.read_csv('../data/raw/heart_failure_clinical_records_dataset.csv')

# check for class imbalance (survivors vs dead patients)
print(df['DEATH_EVENT'].value_counts())


#display the head of data  just to know what it looks like
display(df.head())


#check for missing values
print(f"check for missing values: \n{df.isnull().sum()}")

DEATH_EVENT
0    203
1     96
Name: count, dtype: int64

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  smoking  time  DEATH_EVENT
0  75.0        0                       582         0                 20                    1  265000.00               1.9           130    1        0     4            1
1  55.0        0                      7861         0                 38                    0  263358.03               1.1           136    1        0     6            1
2  65.0        0                       146         0                 20                    0  162000.00               1.3           129    1        1     7            1
3  50.0        1                       111         0                 20                    0  210000.00               1.9           137    1        0     7            1
4  65.0        1                       160         1                 20                    0  327000.00               2.7           116    0        0     8            1

check for missing values:
age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

Analyzing features:

trying to figure out about medical terms:

Age -> older hearts can't recover from stress as well as younger hearts

Anaemia - Less hemoglobin means the blood carries less oxygen. This makes the already-weak heart work twice as hard to oxygenate the body.
Creatinine Phosphokinase -> When it's high, it means muscle tissue (likely the heart) is damaged. 
Diabetes -> It causes "Diabetic Cardiomyopathy." High sugar levels damage the small blood vessels and nerves that control the heart, making heart failure more likely to be fatal.
Ejection fraction --->A normal ejection fraction is usually 50-70%, 41-49% - may signal early damage or risk, below 40%can indicate heart failure

High_blood_pressure --->significantly  increases heart disease risk by damaging arteries 
Platelets ---> If these are too high or low, it affects blood clotting. In heart failure, this can lead to strokes or internal bleeding.

serum_creatinine --> high means that kidneys are not working well

Serum Sodium: Low levels (Hyponatremia) in heart failure patients often mean the body is retaining too much water because the heart isn't pumping well. It’s a huge "danger" signal.

Sex -> Research often shows men are diagnosed earlier with heart failure, but women often have different types (like Heart Failure with Preserved Ejection Fraction).

Smoking_time ->  directly increases heart disease risk by damaging blood vessels

based on this age distribution probability density function (PDF), most survivors are around age 60, while distribution for dead patients has a broader right-tail extending toward age 90.

for now, I will use more 'scientific' version of histograms, which is:  Kernel Density Estimate (KDE).

on this KDE plot, we can definetely see the "Distribution shift", which means, based on the dataset,  older patients have a higher density of mortality.
The "Dead" distribution is stochastically larger than the "Survivors" distribution.